$main-color: #f6f4eb;
$secondary-color: #91c8e4;

.about-us {
  .header {
    // position: unset;
  }

  &__cover-section {
    height: 760px;
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    filter: brightness(50%);

    .banner-desc {
      padding: 0 83px;
      text-align: left;
      text-align: center;
      color: white;

      .title {
        margin-bottom: 32px;
        color: white;
      }

      .desc {
        font-size: 20px;
        color: white;
        text-align: center;
      }
    }
  }

  &__first-section {
    padding: 0 103px;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 95px;
      gap: 54px;
      height: 500px;

      .right-content {
        img {
          width: 120px;
          height: auto;
          transform: rotate(17.929deg);
        }
      }

      .img-welcome {
        margin-top: -300px;
        img {
          max-width: 80%;
          height: auto;
        }
      }
    }
  }

  &__why-choose-us {
    .wrapper {
      margin: 0 103px;
      padding: 64px 120px;
      margin-bottom: 95px;
      background: $secondary-color;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
      .card-items {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .items {
          width: 100%;
          max-width: max-content;
          height: 372px;
          padding: 24px;
          text-align: center;
          display: grid;
          align-items: stretch;
          justify-content: baseline;

          .card-img {
            width: 110px;
            height: auto;
            margin: 16px auto;

            img {
              max-width: 100%;
              height: auto;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  &__teams {
    padding: 64px 300px;
    margin-top: 64px;

    .img-wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
      gap: 32px;
      justify-content: space-around;

      .image-person {
        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 16px;
        }
      }
    }
  }

  &__contact-us {
    background: $secondary-color;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 138px;
    position: relative;

    .left-content {
      img {
        border-radius: 16px;
      }

      .top-item {
        display: flex;
        gap: 32px;

        .dog-img {
          width: 323px;
          height: auto;
        }

        .paw-img {
          width: 120px;
          height: 120px;
          transform: rotate(20deg);
        }
      }

      .bottom-img {
        width: 300px;
        height: 200px;
        position: absolute;
        left: 28%;
        top: 40%;

        img {
          height: 350px;
        }
      }
    }

    .right-content {
      text-align: left;
    }
  }
}
