$pet-hotel-color: #e1989d;
.pet-hotel {
  &__service-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: $pet-hotel-color;
    height: 480px;

    .category-img {
      width: 500px;
      height: auto;
    }
  }

  &__description {
    // background: url('/public/services/children.png') center / cover no-repeat fixed;
    background-size: 0 - 99.9%;
    position: relative;
    text-align: left;
    padding: 64px 103px;
  }

  &__facilities {
    padding: 0 103px 64px;

    .wrapper {
      display: flex;
      justify-content: flex-start;
      border-radius: 8px;
      border: 2px solid #e1989d;
      gap: 32px;
      padding: 50px 80px;

      .facilities-wrappper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 24px;
        -moz-column-gap: 24px;
        column-gap: 64px;
        text-align: left;

        .facilities-item {
          max-width: 250px;
        }
      }
    }
  }

  &__pricelist {
    margin-bottom: 64px;
    .price-wrapper {
      display: flex;
      justify-content: center;
      text-align: center;
      gap: 16px;
      margin: 32px;

      .price-item {
        background: $pet-hotel-color;
        border-radius: 8px;
        border: 2px solid #e1989d;
        background: #e1989d;
        padding: 32px 0;
        min-width: 200px;
        cursor: pointer;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  &__closing {
    padding: 90px 0;
    background: $pet-hotel-color;
  }

  .pet-hotel-text {
    color: $pet-hotel-color;
  }

  .pethotel-contact-us {
    color: $pet-hotel-color;
  }
}
