
.slider-image {
  .slide-wrapper{
    display: flex;
    gap:48px;
    align-items: center;
    text-align: center;
    background: transparent;
    border-radius: 16px;
    justify-content: space-evenly;

    .image-person {
      img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 16px;
      }
}




  .agile--no-nav-buttons .agile__actions{
    justify-content: left;
  }
}

//overwrite css class
.agile__track {
  max-width: 875px;
}

.agile {

  &__actions{
    margin-top: 60px;
  }
&__dot {
  margin-right: 10px;

    button {
      background-color: white;
      border: 1px solid white;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 10px;
      font-size: 0;
      line-height: 0;
      margin: 0;
      padding: 0;
      transition-duration: .3s;
      width: 10px
    }

    &--current, &:hover {
      button {
        background-color: #18A0FB !important;
        border: 1px solid #18A0FB !important;
      }
    }
  }
}
}

.agile__slides {
  height: max-content;
}
