// @import '~@/styles/mixins';

.carousel {
  width: 100%;
  background-size: cover;
  -webkit-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out;

  .carousel-caption {
    color: #fff;
    z-index: 33;
    font-weight: 300;
    text-align: center;
    position: relative;
    margin-top: 18%;
    width: 100%;
  }
}

// overwrite css slider class
.carousel {
  .agile--no-nav-buttons {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
}

.agile__track {
  max-width: 875px;
}

.agile {
  &__dots {
    bottom: 24px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  &__dot {
    margin-right: 10px;

    button {
      background-color: white;
      border: 1px solid white;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 10px;
      font-size: 0;
      line-height: 0;
      margin: 0;
      padding: 0;
      transition-duration: 0.3s;
      width: 10px;
    }

    &--current,
    &:hover {
      button {
        background-color: #18a0fb !important;
        border: 1px solid #18a0fb !important;
      }
    }
  }

  &__slides {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: unset;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
