$main-color: #f6f4eb;
$secondary-color: #91c8e4;

.home {
  &__cover-section {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .banner-desc {
      padding: 0 83px;
      text-align: left;

      .title {
        margin-bottom: 32px;
        width: 350px;
      }

      .desc {
        font-size: 20px;
      }

      .btn-product {
        margin-top: 16px;
      }
    }

    .animal-img {
      background: $secondary-color;
      height: 831px;
      border-radius: 0 0 0 48px;
    }
  }

  &__welcome-section {
    padding: 0 103px;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 95px;
      background: $secondary-color;
      height: 500px;
      padding: 0 72px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      .img-welcome {
        margin-top: -300px;
        img {
          max-width: 80%;
          height: auto;
        }
      }
    }
  }

  &__services {
    padding: 0 103px;

    .services-items {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        background: white;
        border-radius: 16px;
        width: 100%;
        max-width: 300px;
        height: 372px;
        padding: 24px;
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        cursor: pointer;

        .card-img {
          margin-bottom: 24px;
          transition: transform 0.3s ease;

          img {
            max-width: 100%;
            width: 110px;
            height: auto;
            margin: auto;
            transition: transform 0.3s ease;

            &.icon-base {
              max-width: 100%;
              width: 90px;
              height: auto;
              margin: auto;
            }
          }
          &:hover {
            img {
              transform: scale(1.1); // Apply scaling effect on hover
            }
          }
        }

        &:hover {
          box-shadow: 5px 5px 5px #858181;
        }
      }
    }
  }

  &__testimoni {
    margin-top: 90px;
    padding: 80px 103px;
    background: $secondary-color;
  }

  &__clients {
    padding: 64px 300px;
    margin-top: 64px;

    .img-row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 8px;

      .img-column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 8px;

        .wrapper {
          height: max-content; /* Modify this according to your need */
          overflow: hidden;
          margin-top: 16px;
          vertical-align: middle;
          width: 100%;
          border-radius: 16px;

          img {
            transition:
              transform 0.5s,
              filter 1.5s ease-in-out;
            filter: grayscale(100%);

            &:hover {
              transition: 0.3s ease-in-out;
              transform: scale(1.1);
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }

  &__contact-us {
    background: #91c8e4;
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 32px;
    padding: 100px 0;
  }
}
