$gromming-color: #d58653;

.gromming {
  &__service-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: $gromming-color;
    height: 480px;

    .category-img {
      width: 500px;
      height: auto;
    }
  }

  &__description {
    // background: url('/public/services/children.png') center / cover no-repeat fixed;
    background-size: 0 - 99.9%;
    position: relative;
    text-align: left;
    padding: 64px 103px;
  }

  &__options {
    padding: 64px 103px;

    .gromming-variant {
      display: flex;
      gap: 32px;
      justify-content: space-between;
      align-items: flex-start;

      .gromming-items {
        background: $gromming-color;
        padding: 32px;
        border-radius: 8px;
        gap: 8px;
        text-align: left;
      }
    }
  }

  &__testimoni {
    margin-top: 90px;
    padding: 80px 103px;
    background: $gromming-color;
  }

  &__closing {
    padding: 90px 0;
  }

  .gromming-text {
    color: $gromming-color;
  }
}
